<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83184075209-nra7s50h4cksbe6stl8p9fc8lsr3d2ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83184075209-nra7s50h4cksbe6stl8p9fc8lsr3d2ch</string>
	<key>API_KEY</key>
	<string>AIzaSyBPhMrniyF4z3hmFtlZBFb2RtC5zwzAj98</string>
	<key>GCM_SENDER_ID</key>
	<string>83184075209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vita.app</string>
	<key>PROJECT_ID</key>
	<string>vita-377401</string>
	<key>STORAGE_BUCKET</key>
	<string>vita-377401.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83184075209:ios:fa1b3882e39d3359086818</string>
</dict>
</plist>